.navbar-brand {
    font-size: 1.15rem;
}

/* ::deep is needed because the <a> tag is rendered by the NavLink child component */
.navbar-nav ::deep .nav-link {
    font-weight: 500;
}

    .navbar-nav ::deep .nav-link.active {
        color: var(--bs-primary);
        border-bottom: 2px solid var(--bs-primary);
    }
